[submodule "vendor/pyenv"]
	path = vendor/pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "vendor/nvm"]
	path = vendor/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
