# track only init-files and recipes folder
!el-get/
el-get/*
!el-get/init-files/
!el-get/recipes/

.autosave/
.backup/
.auto-save-list/

.saved-places
.smex-items
ac-comphist.dat

# jedi
.python-environments

# emacs lisp temporal file
*.elc